@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ürün ekleme sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Ürün Adı</label> <br/>
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Ürün Adı giriniz..." asp-for="ProductName">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Fiyat</label> <br />
                    <span asp-validation-for="Price" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Fiyat bilgisi giriniz..." asp-for="Price">
                </div>
                <div class="form-group">
                    <label>Stok</label><br />
                    <span asp-validation-for="Stok" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Stok durumu" asp-for="Stok">
                </div>
                <div class="form-group">
                    <label>Açıklama</label><br />
                    <span asp-validation-for="Stok" class="text-danger"></span>
                    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.values,new {@class="form-control"})
                </div>
                <button type="submit" class="btn btn-outline-info">Ekle</button>
                <a href="/Product/Index/" class="btn btn-light">Vazgeç</a>
            </form>

        </div>
    </div>
</div>


