@model Agriculture_UI.Models.CreateViewModel

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hizmet ekleme sayfası</h4>
            <form class="forms-sample" method="post">

                <div class="form-group">
                    <label for="exampleInputName1">Kullanıcı Adı</label>  <br />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="UserName">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Ad Soyad</label>  <br />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="FullName">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Email</label>  <br />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Telefon numarası</label>  <br />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="PhoneNumber">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Adres</label>  <br />
                    <span asp-validation-for="Address" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Address">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Doğum tarihi</label>  <br />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                    <input type="date" class="form-control" asp-for="BirthDay">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Şifre</label>  <br />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Şifre Tekrar</label>  <br />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button class="btn btn-outline-info">Yeni Kayıt Ekle</button>
                <a href="/Login/Index/" class="btn btn-light">Vazgeç</a>
            </form>

        </div>
    </div>
</div>

