@model List<string>

<div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
    <i class="mdi mdi-flag me-3 icon-lg text-danger"></i>
    <div class="d-flex flex-column justify-content-around">
        <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0 text-dark shadow-none font-weight-medium" href="#" role="button" id="dropdownMenuLinkA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h5 class="mb-0 d-inline-block" id="baslik">Çalışan listesi</h5>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkA">
            @foreach (var item in Model)
            {
                <a class="dropdown-item" href="#">@item</a>
            }
        </div>
    </div>
</div>
