@using EntityLayer.Concrete
@model List<AboutUs>

<div class="about" id="about" lang="tr">
	<div class="container">
		<h3 class="tittle">Hakkımızda</h3>
		<p class="heading-btm-w3ls">Tarım ürünleri alanında dünya lideri bir tedarikçiyiz.</p>
			
		<div id="horizontalTab">
			<ul class="resp-tabs-list">
				<li>Tarihçe</li>
				<li>Hakkımızda</li>
				<li>Takım</li>
			</ul>
			<div class="resp-tabs-container">
				<div class="tab1">
					<p class="para-w3-agileits">Günümüzden 10.000 yıl öncesine dayanmaktadır. İlk tarım örneklerinin ardından, zamanla birçok toplumun arasındaki etkileşimin bir sonucu olarak tüm dünyada yaygınlaştı. Tarım sayesinde insanlık toplu yaşama geçti ve günümüzdeki devletler oluştu.</p>
				</div>
				<div class="tab2">
					<p class="para-w3-agileits">Üretiminde ve tedariğinde rol aldığımız tüm Toprak mahsüllerini dünyanın her yerine ihraç etmekteyiz. Her bireyin en kaliteli tahılları ve en kaliteli mahsülleri tüketmesi gerektiğini düşünüp bu düşünce ile üretim gerçekleştirmekteyiz. </p>
				</div>
				<div class="tab3">
					<div class="clients">
						<ul>
							<li><img src="~/web/images/geralt.jpg" alt="clients" class="img-responsive" /><span>Rivialı Geralt</span></li>
							<li><img src="~/web/images/yennefer.jpg" alt="clients" class="img-responsive" /><span>Vengerbergli Yennefer</span></li>
							<li><img src="~/web/images/vasemir.jpg" alt="clients" class="img-responsive" /><span>Yaşlı kurt Vasemir</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>