@using EntityLayer.Concrete
@model List<SocialMedia>

<div class="bottom-social-w3ls w3ls-social-icons">
	@foreach(var item in Model)
	{
		<a class="@item.title" href="@item.url"><i class="@item.icon"></i></a>
	}
</div>
<div class="copy">
	<p>© @DateTime.Now.Year Tüm Hakları Saklıdır | <a href="#">Tarım Proje</a> </p>
</div>