<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Göstge Paneli</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <i class="mdi mdi-cloud menu-icon"></i>
                <span class="menu-title">Hizmetlerimiz</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Takım Üyeleri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Announcement/Index/">
                <i class="mdi mdi-bullhorn menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <i class="mdi mdi-message-text menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-map-marker-radius menu-icon"></i>
                <span class="menu-title">Adres Bilgileri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Image/Index/">
                <i class="mdi mdi-folder-multiple-image menu-icon"></i>
                <span class="menu-title">Görseller</span>
            </a>
        </li>       
        <li class="nav-item">
            <a class="nav-link" href="/Category/Index/">
                <i class="mdi mdi-biohazard menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/Index/">
                <i class="mdi mdi-biohazard menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-settings-box menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Index/">
                <i class="mdi mdi-account-circle menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Login" asp-action="LogOut" asp-route-returnurl="/Login/Index/">
                <i class="mdi mdi-exit-to-app menu-icon"></i>
                <span class="menu-title">Çıkış yap</span>
            </a>
        </li>
    </ul>
</nav>